/* This is the CSS for the Broadway Project */

body {
    text-align: center;
    font-family: Helvetica;
}

h2 {
    font-size: 32px;
    font-weight: bold;
}

h3 {
    font-size: 23px;
    font-weight: bold;
}

.first h1 {
    font-size: 70px;
    font-weight: bold;
    color: white;
}

.second, .third p {
    font-size: 14px;
}

#white-h3 {
    color: white;
    background-image: url(../images/the-flatiron-building.png);
}

.navbtn {
    font-size: 18px;
    color: white;
}

.first {
    background-image: url(../images/the-flatiron-building.png);
}
